/target/airlines-0.0.1-SNAPSHOT.jar
/target/classes/application.conf
/target/classes/com/ggsi/AppTest.class
/target/classes/com/ggsi/AvroReader$.class
/target/classes/com/ggsi/AvroReader.class
/target/classes/com/ggsi/KafkaConsumer$$anonfun$main$1.class
/target/classes/com/ggsi/KafkaConsumer$.class
/target/classes/com/ggsi/KafkaConsumer.class
/target/classes/com/ggsi/KafkaProducer$$anonfun$main$1.class
/target/classes/com/ggsi/KafkaProducer$.class
/target/classes/com/ggsi/KafkaProducer.class
/target/classes/com/ggsi/ParquetReader$.class
/target/classes/com/ggsi/ParquetReader.class
/target/classes/com/ggsi/config/AppConfig$class.class
/target/classes/com/ggsi/config/AppConfig.class
/target/classes/com/ggsi/drivers/AirlineDriver$.class
/target/classes/com/ggsi/drivers/AirlineDriver.class
/target/classes/com/ggsi/drivers/Test$.class
/target/classes/com/ggsi/drivers/Test.class
/target/classes/com/ggsi/kafka/KafkaCustomProducer$$anonfun$kafkaCustomProducer$1.class
/target/classes/com/ggsi/kafka/KafkaCustomProducer$.class
/target/classes/com/ggsi/kafka/KafkaCustomProducer.class
/target/classes/com/ggsi/spark/SparkContextFactory$.class
/target/classes/com/ggsi/spark/SparkContextFactory.class
/target/classes/com/ggsi/utils/FileFormatUtils$.class
/target/classes/com/ggsi/utils/FileFormatUtils.class
/target/classes/com/ggsi/utils/KafkaUtils$.class
/target/classes/com/ggsi/utils/KafkaUtils.class
/target/classes/log4j.properties
/target/maven-archiver/pom.properties
